<!DOCTYPE html>
<html>
<head>
	<title>Jokester</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>

	<header>
		<div class="nav">
			<ul>
				<li class="home"><a href="#">Home</a></li>
				<li class="tutorials"><a class="active" href="#">Login</a></li>
				<li class="about"><a href="#">Sign Out</a></li>
				<li class="news"><a href="#">About</a></li>
				<li class="contact"><a href="#">Contact</a></li>
			</ul>
		</div>
	</header>

	<%= yield %>
</body>
</html>
