<ul>
<% @jokes.each do |joke| %>
	<li>
	<%= joke.body	%>
	<br>
	by <%= joke.user.name.capitalize %>
	<br><br>
	Comments:
	<br>
	<ul>
	<% joke.comments.each do |comment| %>
		<li><%= comment.user.name.capitalize %>: <%= comment.body %></li>
	<% end %>
	</ul>

<% end %>
</ul>